/* GLOBAL */

/* HEADER */
h1{
    size: 100px;

}

h3{
    font-size: 40px;
    color: #E3D4C8;

}

/* NAV */

/* main */
body{
    font-family: sans-serif;
    background-color: #E3D4C8;
    color: #532200;
    background: url(/static/image/sax.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.foreground{
    margin-top: -15px;
    margin-right: 25px;
    padding: 0;
    width: 1900px;
    height: 850px;
    position: fixed;
    background-color: #E3D4C8;;
}

.mid{
    background-color: #532200;
    color: #E3D4C8;
    width: 925px;
    height: 805px;
    left: 600px;
    top:115px; 
    position: fixed;
}

.sidebar{
    padding: 0;
    width: 300px;
    height: 700px;
    top:165px; 
    position: fixed;
    left: 1550px;
    background-color: #532200;
    color: #E3D4C8;
}

.txt{
    background-color: #1d0053;
    color: #E3D4C8;
    width: 925px;
    height: 300px;
    left: 600px;
    top:250px; 
    position: fixed;
}

.rec{
    background-color: #1d0053;
    color: #E3D4C8;
    width: 925px;
    height: 300px;
    left: 600px;
    top:600px; 
    position: fixed;
}

.middlebit{
    width: 200px;
    height: 25px;
    background-color: #E3D4C8;;
    margin-left: 920px;
}

.navbar{
margin-top: 25px;
}
/* FOOTER */
