/* GLOBAL */
body{
    font-family: sans-serif;
    background-color: rgb(46, 61, 61);
    color: rgb(255, 0, 0);
    
}
/* HEADER */
h1{
    padding: 50px;
}


/* NAV */


/* FOOTER */
