/* GLOBAL */
body{
    font-family: sans-serif;
    background-color: #E3D4C8;
    color: #532200;
    background-image: ("sax.jpg");
}
/* HEADER */
h1{
    size: 100ppx;
}


/* NAV */

/* main */
main{
    background-image: ("static\image\sax.jpg");
}

/* FOOTER */
