{% extends "layout.html"%}
{% block contents %}
<div class="landingpage">
    <img class="logo" src="/static/image/logo.png">
    <div class="landingtext"><h2>A jazz standard is a musical composition that has achieved timeless significance within the jazz genre due to its melodic richness, harmonic complexity, and enduring popularity. These compositions often serve as a common language for musicians to communicate and improvise upon. Jazz standards can come from a variety of sources, including Broadway musicals, popular songs from the Great American Songbook, film scores, and original jazz compositions. What distinguishes a jazz standard is its ability to transcend its original context and become a canvas for musicians to reinterpret, personalize, and expand upon through improvisation. These timeless tunes form a shared repertoire that connects generations of jazz performers and listeners, ensuring that their legacy lives on through the ever-evolving art of jazz.</h2></div>
    <img class="sowhat" src="/static/image/sowhat1.jpg">
    <img class="therealbook" src="/static/image/therealbook.jpg">
    </div>
{% endblock %}
