<!doctype >
<html>
    <head>
         <link rel="stylesheet" href="/static/css/style.css">
         <title>{{title}}</title>
    </head>
    <body>
        <div id="rainbow">
            <header>
            {% include "header.html"%}
            </header>
            <nav>
            {% include "nav.html"%}
            </nav>
            <main>
            {% block contents %}{% endblock %}
            </main>
            <footer>
            {% include "footer.html" %}
            </footer>
        </div>
    </body>