{% extends "layout.html"%}
{% block contents %}
{% for item in results %}



<div class="foreground">

    <div class="mid">
      <h2>
       {{item[1]}} {{item[2]}} {{item[3]}} {{item[4]}} {{item[5]}} {{item[6]}}
      </h2>
      <div class="txt">
        <h2>
         {{item[1]}} {{item[2]}} {{item[3]}} {{item[4]}} {{item[5]}} {{item[6]}}
        </h2>
      </div>
      <div class="rec">
        <h2>
         {{item[1]}} {{item[2]}} {{item[3]}} {{item[4]}} {{item[5]}} {{item[6]}}
        </h2>
      </div>
    </div>



</div>



<div class="sidebar">
  <h1>
        Info
  </h1>
  <div class="composer">
    <h2>Writen By</h2>
    <h3>
          {{item[1]}}
    </h3>
  </div>
  <div class="famous">
    <h2>Made Famous By</h2>
    <h3>
          {{item[2]}}
    </h2>
  </div>
  <div class="key">
    <h2>Key Signiture</h2>
    <h3>
          {{item[3]}}
    </h3>
  </div>
  <div class="timesig">
    <h2>Time Signiture</h2>
    <h3>
          {{item[4]}}
    </h3>
  </div>
</div>


{% endfor %}
{% endblock %}